@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: block;
  font-size: 13px;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  @apply bg-gray-700 text-gray-100;
  background: linear-gradient(
    176deg,
    rgba(18, 24, 27, 1) 50%,
    rgba(32, 39, 55, 1) 100%
  );
  min-height: 100vh;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-normal text-white text-2xl;
}

p {
  @apply font-normal text-white;
}

@layer base {
  ::selection {
    background-color: #d946ef;
    color: #ffffff;
  }

  ::-moz-selection {
    background-color: #d946ef;
    color: #ffffff;
  }

  ::-webkit-selection {
    background-color: #d946ef;
    color: #ffffff;
  }
}

@layer components {
  .btn {
    @apply bg-emerald-500 text-white font-bold py-2 px-4 rounded;
  }
  .nav-links {
    @apply flex gap-3 text-xl font-semibold text-emerald-300;
  }
  .nav-link {
    @apply gap-4 h-16 flex items-center p-1  hover:text-emerald-400;
  }
  .nav-button {
    @apply border border-emerald-500 hover:bg-emerald-300 hover:text-emerald-950 rounded-sm px-2 py-1 transition-all;
  }
  .spin {
    @apply animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-emerald-500;
  }
  .error-button {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
  }
}
/* .container {
  @apply max-w-screen-2xl mx-auto px-3 md:px-8;
} */
